#game-container {
    position: relative; /* Важно для позиционирования game-over */
    width: 600px;
    height: 400px;
    margin: 20px auto; /* Центрирование */
    border: 1px solid #434b70;
}

#game-canvas {
    background-color: #3a455c;
    display: block; /* Убирает отступ снизу канваса */
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#restart-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
#game-canvas {
    cursor: none; /* Скрывает курсор */
}
#game-container {
    position: relative; /* Важно для позиционирования game-over */
    width: 600px;
    height: 400px;
    margin: 20px auto; /* Центрирование */
}

#game-canvas {
    background-color: #171b22;
    display: block; /* Убирает отступ снизу канваса */
    cursor: none; /* Скрывает курсор */
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#restart-button {
    background-color: #4CAF50;
    border: none;
    color: rgb(180, 195, 219);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
